<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="Syake株式会社,Syake,任価,ninka,ゲーム,鮭,シャケ">
        <meta name="description" content="Syake株式会社は「任価」(任意の時期・金額・回数による支払い)による投稿型PCゲーム販売サイト「SYAKERAKE」の運営及びゲーム開発を行っております。">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="nav justify-content-center">
                    <a class="nav-link" href="/index.html">Home</a>
                    <a class="nav-link" href="/corporation-profile.html">Corporation</a>
                </nav>
            </header>
            <main>
                $body$
            </main>
            <footer>
                <div class="text-center">
                    <address>
                        <p><a href="https://www.syake.co.jp"><img src="/image/logo/syake-white.svg" alt="Syake株式会社" width="200px" /><br></a>&copy; Syake株式会社</p>
                    </address>
                </div>
            </footer>
        </div>
    </body>
</html>

