<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="GHOSTUS,ゴースタス,ゲーム,STG,SHMUP,puzzle,PZL,シューティングパズル,Syake">
        <meta name="description" content="時間を繰り返し、積み重なる自身のリプレイ(GHOST)と共闘する、超時空多重リプレイSTGパズルゲーム">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/ghostus.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1 class="hidden-xs-up">$title$</h1>
                <div class="text-center">
                    <a href="/game/ghostus/index.html"><img class="col-md-7 mb-2" src="/image/game/ghostus-logo.png"></a>
                    <p>過去の自分と巡り合う<br>超時空多重リプレイシューティングパズル</p>
                    <p><a href="./download.html" class="display-4">[β版をダウンロード]</a></p>
                </div>
            </header>
            <main>
                $body$
            </main>
            <footer>
                <hr>
                <div class="text-center">
                    <address>
                        <p>presented by</p>
                        <p><a href="/index.html"><img src="/image/logo/syake-white.svg" alt="Syake株式会社" width="200px" /><br></a>&copy; Syake株式会社</p>
                    </address>
                </div>
            </footer>
        </div>
    </body>
</html>

