<ul class="list-unstyled mb-0">
  $for(release)$
  <li class="media">
    <div class="media-body card">
      <div class="card-body">
        <h5 class="card-title"><a href="$url$">$title$</a></h5>
        <h6 class="card-subtitle text-muted"><time class="text-right">$date$</time></h6>
        <div class="row">
          <div class="col-md-3 mt-2">
            <a href="$url$">
              <img class="rounded mw-100 mx-0" src="$image$" alt="thumbnail" />
            </a>
          </div>
          <div class="col-md-9 mt-2">
            $if(teaser)$
            $teaser$
            $else$
            $description$
            $endif$
          </div>
        </div>
      </div>
    </div>
  </li>
  $endfor$
</ul>
